<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
  <a class="navbar-brand" href="{% url 'home'%}">Z</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles' %}">Profiles</a>
        </li>
        
      </ul>
      <ul classs="navbar-nav ms-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}"> Logout</a> </li>
        <li class="navbar-item">
          <a class="nav-link" href="{% url 'profile' request.user.id %}"> My Profile <i class="bi bi-person-circle"></i></a> </li>
      </ul>

      {% else %}
      <ul class="navbar-nav ms-auto">
        <li class="navbar-item"><a class="nav-link" href="{% url 'login' %}"> Login</a> </li>
        <li class="navbar-item"><a class="nav-link" href="{% url 'register' %}"> Register</a> </li>
         
      </ul>

      {% endif %}



  </div>
</nav>